<div *ngIf="todo" id="wrapper">
    <div class="color-info"></div>
    <div class="todo-content-wrapper">
        <h2>
            <input [(ngModel)]="todo.title" value="{{todo.title}}" placeholder="Title">
        </h2>
        <span style="padding-left:20px">
            <textarea [(ngModel)]="todo.content" value="{{todo.content}}" placeholder="content"></textarea>
        </span>
    </div>
    <div class="todo-date-wrapper">
        Deadline: <br>
        <input matInput #datePicker [matDatepicker]="picker" style="text-align: center;">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

    </div>
    <div class="todo-options-wrapper">
        <button (click)="saveChanges()" type="button" class="btn btn-success">Save</button>
        <button (click)="goBack()" type="button" class="btn btn-danger">Cancel</button>
    </div>
</div>

